<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>

<body>
    <p>
        邮箱：<input type="text" id="email">
    </p>
    <p>
        密码：<input type="password" id="pwd">
    </p>
    <button id="submit">提交</button>
    <script src="../../static/main/js/cookie.js"></script>
    <script src="../../static/main/js/login.js"></script>
</body>

</html>