<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<mate  name="keywords" content="books,sale"/>;
		<title>小叮当网上&nbsp;书城</title>
		<link rel="stylesheet" href="../../static/main/css/home_1.css" />
	</head>
	<body>

		<!--
        	作者：mysummertimes@163.com
        	时间：2017-11-16
        	描述：top div
        -->
		<div id="div_1">

			<p>
				欢迎光临&nbsp;小叮当！				
				<a href="regist.html">注册</a>
				<a href="login.html">登陆</a>
				<a href="shopping_cart.html">我的购物车</a>
				<a href="order.html">我的订单</a>
				<a href="information.html">个人信息</a>
			</p>
		</div>
		<!--
        	作者：mysummertimes@163.com
        	时间：2017-11-16
        	描述：search div_2
        -->
		<div id="div_2">
			<div id="div_0">
			<a href="mainPage.html">
				<img width="50%"   src="../../static/main/img/xiaodingdang_2.png"/>
			</a>
			</div>
			<div width="50%">
			<form  action="">
				<p>
					<input type="text" name="search" />
					<input type="submit" value="搜索"/>
				</p>
			</form>
			</div>
			<a href="">热搜：满100减10...</a>
		</div>
		<div>
		<div id=div_3>
			<h3>图书分类</h3>
				<ul>
					<li><a href="">儿童文学</a></li>
					<li><a href="">古典文学</a></li>
					<li><a href="">英美文学</a></li>
				</ul>
		</div>
		<div id=div_4>
			<a href="">
				<img class="img_1" src="../../static/main/img/1510668951_778238.png" alt="book_1name" />
			</a>
			<a href="">
				<img class="img_2" src="../../static/main/img/嗜谎之神.jpg" alt="book_1name" />
			</a>
			<a href="">
				<img class="img_2" src="../../static/main/img/暴走邻家.jpg" alt="book_1name" />
			</a>
			<a href="">
				<img class="img_2" src="../../static/main/img/高中生物1.jpg" alt="book_1name" />
			</a>
			<a href="">
				<img class="img_2" src="../../static/main/img/史记.jpg" alt="book_1name" />
			</a>
		</div>
		<div id=div_5>	
				<h4>信息公告</h4>
				<ol>
					<li><a href="notice1.html">公告一：</a></li>
					<li><a href="">公告二：</a></li>
				</ol>
		</div>
		
		</div>
		
		<div id="footer">
			<footer>
				&copy;D team,2017
			<br/>
				Editor in:HuBei;all right be served
			</footer>
		</div>
	</body>
</html>
