<html>
	<head>
		<title>我的购物车</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<style type="text/css">
			#body{  /*id*/
				width:70%;
				height: 3000px;
				border: 2px solid dimgrey;	
				position: relative;
				left: 20px;
				float: left;
				text-align: center;
			}

			.cart{  
				border: 2px solid dimgrey;	
				width: 70%;
				/*height:15px;*/
				font:1em arial;
				margin: 5%;
				padding: 5%;
			/*	margin:auto;*/
				text-align: left;
				position: relative;
				background-color:darkgray;
				float: left;
				clear:both;
			}
		</style>
	</head>
	<body>
  		<header class="header">
        	<div class="top-menu">
        		<ul class="nav">
        			<button id="back">返回</button>
        			<button id="register">注册</button>
                	<button id="login">登录</button>
                	<button id="buy">结算</button>
        		</ul>
        	</div>
    	</header>
		<div id="body">
		</div>
		<script type="text/javascript" src="../../static/main/js/mycart.js"></script>
	</body>
</html>