<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			#div_0{
				text-align: center;
			}
			#div_1{
				width: 1201px;
				//width:1024px;
				text-align: center;				
				border: 2px solid dimgrey;
				background-color: darkgray;	
			}
		</style>
	</head>
	<body>
		<div id="div_0">
			<a href="mainPage.html">
				<img width="50%"   src="img/xiaodingdang_2.png"/>
		</a>
		</div>
		<div></div>
		<div>
			<div id="div_1">				
				<form action="">
					<input type="button" name="order_choice" value="全部"/>
					<input type="button" name="order_choice" value="待付款"/>
					<input type="button" name="order_choice" value="待发货"/>
					<input type="button" name="order_choice" value="待收货"/>
					<input type="button" name="order_choice" value="待评价"/>				
				</form>
			</div>
			<div id=div_2>
				<ul>
					<li></li>
				</ul>
			</div>
		</div>
	</body>
</html>
