<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>公告一：</title>
		<style type="text/css">
			body{
				background-image: url(../../static/main/img/小叮当背景.png);
			}
			#div_0{
				margin: 0px;
			}
			
			#div_1{
				margin: 0px;
				padding: 50px;
				border: 10px solid lightgoldenrodyellow;
				text-align: center;
				font: bold ;
				background-color: ivory;
			}
			h1{
				text-align: left;
			}
			
		</style>
	</head>
	<body>
		<div id="div_0">
			<a href="mainPage.html">
				<img width="50%"   src="../../static/main/img/xiaodingdang_2.png"/>
			</a>
		</div>
		<div id=div_1>
		<h1>公告一：</h1>
		<h2>
			小叮当网上书城
			<br />
			欢迎光临!
		</h2>
		</div>
	</body>
</html>
