<html>
	<head>
		<title>book</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	</head>
	<body>
		<header class="header">
        	<div class="top-menu">
        		<ul class="nav">
        			<button id="back">返回</button>
        			<button id="register">Register</button>
                	<button id="login">LogIn</button>
        		</ul>
        	</div>
    	</header>
    	<div id="info">
    		
    	</div>
		<script type="text/javascript" src="../../../static/main/js/profile.js"></script>
	</body>
</html>