<!DOCTYPE html>
<!--
	作者：mysummertimes@163.com
	时间：2017-11-16
	描述：user Refist page
-->
<html>
	<head>
		<meta charset="UTF-8">
		<title>regist</title>
		<style type="text/css">
			body{
				background-image: url(../../static/main/img/小叮当背景.png);
			}
			#div_1{
				border: 5px solid lightpink;
				margin: 50px;
				padding: 50px;
				text-align: center;
				background-color: beige;
			}
		</style>
     
	</head>
	<body>
			<div id="div_0">
			<a href="mainPage.html">
				<img width="50%"   src="../../static/main/img/xiaodingdang_2.png"/>
			</a>
			</div>
		<div id="div_1">
		<form action="">
			<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email
			<input type="email" name="email" placeholder="*****@**.com" />
			</label>
			<br />
			<label>Keyword
			<input type="password" name="password" placeholder="******"/>
			</label>
			<p>
			<input type="reset" />
			<input type="submit" />
			</p>
		</form>
		</div>
	</body>
</html>
